<a href="https://colab.research.google.com/github/ashrafulwork/Learning-Python/blob/main/Codes_Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User input in Python

In [ ]:
a = "100"
b = "37"
a = int(a)
b = int(b)
print(a+b)

137

In [ ]:
first_name  = input("Enter your first name : ");
second_name  = input("Enter your second name : ");
print(first_name +" " +second_name);

Enter your first name : hh
Enter your second name : hh
hh hh

In [ ]:
import sys
# first_name = input("Enter your first name : ")
# second_name = input("Enter your second name : ")
# print(first_name + " " + second_name)

ID = input("Enter your ID : ")
print(int(ID))
print(sys.getsizeof(ID))

Enter your ID : 445577
445577
55

# Everything about Strings

If we want to add multiple lines / string lines we can use  triple single quotes like this ( ''' random
            lines ''')

part one starts from here

In [ ]:
introduction ='''Hey guys ! This is El Professor.
Today we are here today to learn how to write multiple string lines
'''
print("Short info my myself :",introduction)

co2_emission = '''When we look at the graph showing average global surface temperature anomalies, we can see a clear trend showing that temperatures started to increase around the 1960s and this continues up to the present day, with the increases growing ever larger.

Scientists first began to notice a trend in rising sea temperatures starting from the 1950s (although it was some years later when the change became noticeable enough to distinguish it from natural temperature variations).

However, the causes of climate change can probably be traced back to the industrial revolution, sometime around the 1830s, when humans first began to burn large quantities of fossil fuels'''
print(co2_emission)

Short info my myself : Hey guys ! This is El Professor.
Today we are here today to learn how to write multiple string lines

When we look at the graph showing average global surface temperature anomalies, we can see a clear trend showing that temperatures started to increase around the 1960s and this continues up to the present day, with the increases growing ever larger.

Scientists first began to notice a trend in rising sea temperatures starting from the 1950s (although it was some years later when the change became noticeable enough to distinguish it from natural temperature variations).

However, the causes of climate change can probably be traced back to the industrial revolution, sometime around the 1830s, when humans first began to burn large quantities of fossil fuels

Part two starts from here

In [ ]:
serial_one = [137,33,11]
serial_two = "Hossain"
print(serial_one[0])

137

In [ ]:
intro = "Hi Myself Md Ashraful Hossain"

for testing_loops in intro:
    print(testing_loops)

H
i

M
y
s
e
l
f

M
d

A
s
h
r
a
f
u
l

H
o
s
s
a
i
n

In [ ]:
co2_emission = '''When we look at the graph showing average global surface temperature anomalies, we can see a clear trend showing that temperatures started to increase around the 1960s and this continues up to the present day, with the increases growing ever larger.

Scientists first began to notice a trend in rising sea temperatures starting from the 1950s (although it was some years later when the change became noticeable enough to distinguish it from natural temperature variations).

However, the causes of climate change can probably be traced back to the industrial revolution, sometime around the 1830s, when humans first began to burn large quantities of fossil fuels''';
# print(co2_emission.count("we"));
# print(co2_emission.upper());
# print(co2_emission.lower());
# print(co2_emission.split());
# print(co2_emission.split()[2]);
# print(co2_emission.center(0));
print(co2_emission.replace("we","they"));

When they look at the graph showing average global surface temperature anomalies, they can see a clear trend showing that temperatures started to increase around the 1960s and this continues up to the present day, with the increases growing ever larger.

Scientists first began to notice a trend in rising sea temperatures starting from the 1950s (although it was some years later when the change became noticeable enough to distinguish it from natural temperature variations).

Hotheyver, the causes of climate change can probably be traced back to the industrial revolution, sometime around the 1830s, when humans first began to burn large quantities of fossil fuels

In [ ]:
import time
# user_input = input(("Do you wish to continue ? Type Y or N  "));
# if "Y" or "y" in user_input:
#                    first_name = input(("type your first name here :"));
#                   time.sleep(5.5)
#                   last_name = input(("type your last name here :"));
#                   time.sleep(5.5)

Testing what i have learned till now ( didnt learned for loop yet )

In [ ]:
user_input = input(("Do you wish to continue ? Type Y or N  "));

# if user_input!="Y" or user_input!="y":

#       print("You have pressed wrong input")
#       print("Ok...Discontinuing");

if user_input=="N" or user_input=="n" in user_input:
    print("You have pressed N '")
    print("Ok... Discontinuing")

elif user_input=="Y" or user_input=="y" in user_input :
    first_name  = input("Enter your first name : ");
    second_name  = input("Enter your second name : ");
    email = input("Enter your email account : ")
    print("Name : ",first_name,second_name,"\nEmail Address :",email);

elif user_input!="Y" or user_input!="y"  or user_input!="N" or user_input!="n"  in user_input :
    print("Wrong Input")
    print("Discontinuing");

Do you wish to continue ? Type Y or N  y
Enter your first name : asdasd
Enter your second name : asdasd
Enter your email account : sadasd@gmail.om
Name :  asdasd asdasd
Email Address : sadasd@gmail.om

Strings Slicing and Operations on Strings in Python

# Strings Slicing and Operations on Strings in Python

5-3 = 2 ,  5-1 =4    => 2,3

In [8]:
name = "Ashraful"
# print(len(name))
# print(name[0:4]) # this is 0  to 3 because N-1
print(name[-3:-1])

fu

In [9]:
testing = "Ashraful"
print(testing[-4:-2]) ##ggwp

ar